body {
    width: 960px;
    background-color: #ffffff;
    border-color: #ffffff;
    align-content: ;
    padding: 0;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

header {
    background-color: #ffffff;
    border-color: #cccccc;
    margin: 0;
    padding: 0;
    width: 100%;
}

h1 {
    width: 300px;
    background-color: #4aaaa5;
    float: left;
    padding: 10px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    
}

#avatar {
    float: left;
    width: 200px;
    padding: 10px
}

.center {
    text-align: center;
}