body {
    width: 960px;
    background-color: #ffffff;
    border-color: #ffffff;
}

h1 {
    width: 300px;
    background-color: #4aaaa5;
    text-align: center;
    padding: 10px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav {
    text-align: right;
}

#avatar {
    float: left;
    width: 200px;
}