body {
    width: 960px;
    background-color: #ffffff;
    border-color: #ffffff;
    align-content: ;
    margin: 0;
    padding: 0;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("light-grey-terrazzo.png");
}

header {
    background-color: #ffffff;
    border-color: #cccccc;
}

h1 {
    width: 300px;
    background-color: #4aaaa5;
    text-align: center;
    padding: 10px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}

#avatar {
    float: left;
    width: 200px;
    padding: 10px
}